/* Soluzione qui */
@media screen and (min-width: 768px) {
    #topbar {
	    height: 70px;
	    padding: 0 20px;
	    background-color: #fff;

	    display: flex;
	    align-items: center;
	    justify-content: flex-start;
    }

    .recipe-name {
	    color: #4e3969;
	    font-weight: 900; /* ??? */
    }

    .recipe-origin {
    display: inline;
    }

    main{
        padding: 40px;
    }

    div.quick-notes> ul{
        display: flex;
        flex-wrap: wrap;
    }     

    li.blender ,
    li.clock ,
    li.pie ,
    li.cost ,
    li.pin {
        flex-basis: 30%;
    }
    
}

@media screen and (min-width: 992px) {
    
}